{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@Src": "./src",
          "@Actions": "./src/redux/actions",
          "@Components": "./src/components",
          "@Containers": "./src/containers",
          "@Reducer": "./src/redux/reducers",
          "@Layout": "./src/layouts"
        },
        "extensions": [".js", ".jsx", ".json"]
      }
    ]
  ]
}
