.groupHour {
	white-space: nowrap;
	background: #eee;
	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#F9F9F9',EndColorStr='#DFDFE0',GradientType=0);
	border: 1px solid #d0d0d0;
	font-size: 12px;
	padding: 4px;
	cursor: pointer;
	font-weight: bold;
	width: auto;
	padding-right: 10px;
	padding-left: 10px;
	font-family: "robotblack";
}
