input:hover,
textarea:hover,
input:focus,
textarea:focus {
	// background-color: #fff5d3;
	outline: none;
}

.dashboard {
	padding: 2px;
	font-size: 13px;
	color: #2a2a2a;
	margin: 0;
	border: 1px solid #d0d0d0;
	-ms-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

input[type="checkbox" i] {
	background-color: initial;
	cursor: default;
	-webkit-appearance: checkbox;
	box-sizing: border-box;
	margin: 3px 3px 3px 4px;
	padding: initial;
	border: initial;
}
