.isomorphicTopbar {
	padding: 0;

	.ant-pro-global-header {
		height: 64px;
		box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);

		& #exampleSelect:focus {
			box-shadow: none !important;
		}
	}

	.trigger {
		font-size: 22px;
		line-height: 64px;
		padding: 0 24px;
		cursor: pointer;
		transition: color 0.3s;
	}
}

.menu {
	.anticon {
		margin-right: 8px;
	}
	.ant-dropdown-menu-item {
		min-width: 160px;
	}
	.menuText {
		text-transform: capitalize;
	}
}

.right {
	padding: 0 24px;
	display: flex;
	.action {
		padding: 0 12px;
		cursor: pointer;
		transition: all 0.3s;
		> i {
			color: rgba(0, 0, 0, 0.65);
			vertical-align: middle;
		}
		&:hover {
			background: rgba(0, 0, 0, 0.025);
		}
		&.opened {
			background: rgba(0, 0, 0, 0.025);
		}
	}
	.account {
		display: flex;
		justify-content: center;
		align-items: center;
		.name-admin {
			margin-left: 8px;
			font-size: 14px;
			font-weight: 700;
		}
	}
	.account {
		.avatar {
			color: #1890ff;
			vertical-align: top;
			background: rgba(255, 255, 255, 0.85);
		}
	}
}
